@use '@/styles/variables.scss' as *;

.dialog {
  min-width: 50vw;
  height: 75vh;
  padding: 2rem;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cbcbcb;

  background-position: 90% 90%;
  background-repeat: no-repeat;
  // position: relative;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    overflow: visible;
    padding: 90px;
    background-image: url('../../../assets/images/Pixels3.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: visible;
    padding: 90px;
    background-image: url('../../../assets/images/Pixels4.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: -1;
  }
  & .close {
    border-radius: 100%;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }
  @media (max-width: 768px) {
    min-width: 90vw;
    background-image: url('../../../assets/images/modal.png');
  }
}
