@use '../../../styles/variables.scss' as vars;
.button {
  padding: vars.$button-padding;
  border-radius: vars.$button-radius;
  border: none;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}

.primary {
  background-color: vars.$color-blue;
  color: vars.$color-white;
}

.secondary {
  background-color: vars.$color-grey;
  color: vars.$color-blue;
}

.highlight {
  background-color: vars.$color-orange;
  color: vars.$color-white;
}
