@use '@/styles/colors' as *;

.transactionItem {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  // border-bottom: 1px solid $primary-ghost;
  & > div {
    width: 100%;
  }
  &:not(:last-child) {
    border-bottom: 2px solid $primary-ghost;
  }

  &.income {
    color: $success;
  }
  &.outcome {
    color: $secondary;
  }

  & > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & span {
    display: block;
  }
}
