@use '../../../styles/variables.scss' as vars;
.menu {
  background-color: vars.$color-white;
  max-width: 200px;
}
.menu-item {
  list-style-type: none;
  color: vars.$color-blue;
  display: flex;
}
.menu-item:not(:last-child) {
  border-bottom: 1px solid vars.$color-blue;
}
.menu-item > a {
  text-align: center;
  width: 100%;
  padding: vars.$button-padding;
  text-decoration: none;
  color: vars.$color-blue;
}
